<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flexVertCenter">
    <header class="flexVertCenter">
      <%= render "layouts/navbar" %>
      <%= render "layouts/alerts" %>
    </header>
    <main class="flexVertCenter">
      <%= yield %>
    </main>
  </body>
</html>
